Source: quickbms
Version: 0.10.1
Homepage: https://aluigi.altervista.org/quickbms.htm
Description: Universal script based files extractor and reimporter
Default-Features: openssl

Feature: openssl
Build-Depends: openssl
Description: OpenSSL support